// COLOR VARIABLES

$color-star: #c69963;
$color-primary: #4caf50;
$color-primary-dark: #388e3c;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

li {
    display: block;
}

ul, li, a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem repeat(5, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem repeat(5, min-content);
    }
}

@import "sidebar";

.header {
    grid-column: full-start / full-end;
    padding-bottom: 1rem;


    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        // padding: 5rem;
    }

    &__logo {
        // width: 23rem;
        height: 10rem;
        @media only screen and (max-width: $bp-medium) {
        // grid-column: 1 / -1;
        }
    }

    &__breadcrumb {
        // border-top: 1px solid #ccc;
        // border-bottom: double #ccc;
        padding-left: 1rem;
        text-transform: uppercase;
        font-style: italic;

        & li {
            display: inline;
        }
        & li+li:before {
            padding: 1rem;
            color: black;
            content: "/\00a0";
        }
        & li a {
            color: #0275d8;
            text-decoration: none;
        }

        & li a:hover {
            color: #01447e;
            text-decoration: underline;
        }

    }
}


.map {
    grid-column: col-end 5 / full-end;
    grid-row: 2 / -1;

    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
        grid-row: 3 / span 1;
        height: 40vh;
    }
    @media only screen and (max-width: $bp-medium) {
            // grid-column: 1 / -1;
            // grid-row: 3 / -1;
            // height: 40vh;
        }

    @media only screen and (max-width: $bp-small) {
        // display: none;
    }

}

#map {
    height: 100%;
}

.restaurant {
    grid-column: full-start / col-end 5;
    font-family: $font-display;
    font-size: 1.4rem;
    text-align: center;

    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, min-content);
    @media only screen and (max-width: $bp-large) {
        grid-column:full-start/full-end;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        // padding: 5rem;
    }

    &__name {
        grid-column: 1 / -1;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: #fff;
    }

    &__img {
        grid-column: 1 / -1;
        width: 100%;
    }

    &__cuisine {
        grid-column: 1 / -1;
        padding: 2rem;
    }

    &__address {
        grid-column: 1 / -1;
        padding: 1rem;
    }

    &__hours {
        grid-column: 1 / -1;
        padding: 1rem;
    }

}

.review {
    grid-column: full-start / col-end 5;
    padding: 1rem;
    // display: grid;

    @media only screen and (max-width: $bp-large) {
        grid-column:center-start/center-end;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    h2 {
        text-transform: uppercase;
        color: $color-primary;
        border-bottom: 1px solid #ccc;
    }

       &__container {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        padding: 2rem;


       }
       &__by {
            grid-column: 1 / -1;
            font-size: 2rem;
            font-weight: bold;
        }
        &__date {
            grid-column: 1 / 2;
            font-style: italic;
            align-self: center;
        }
        &__rating {
            grid-column: 2 / 2;
            align-self: end;
            align-self: center;


            svg {
                fill: $color-star;
                height: 2rem;
                width: 2rem;
            }
        }
        &__comment {
            grid-column: 1 / -1;
            font-size: 1.4rem;

        }

    }

.footer {
    background-color: $color-secondary;
    grid-column: full-start / col-end 5;
    padding: 8rem;
    @media only screen and (max-width: $bp-large) {
        grid-column:full-start/full-end;
    }
    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}




